@import url("./reset.css");

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(20, 20, 20);
    color: #FFF;
    font-family: monospace;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* I know that if you're not connected to the API this is the background image that will load with the quote.
However once it's pulling the images during each refresh it shows this image for a second between.
I tested commenting it out and it worked to make it not show, but I doubt that's the full solution...? */

.background-img {
    background-image: url("../img/toa-heftiba-pPMk4Ma195U-unsplash.jpg");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: .3;
    z-index: -1;

}

.quote-container {
    border: .25rem solid rgb(115, 121, 239);
    width: 90dvw;
    height: 90dvh;
    margin: auto;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

.author-text {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
}

.source-text {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    font-style: italic;
}

.quote-text::before {
    content: open-quote;
    font-size: 3rem;
    padding: 0rem;
}

.quote-text::after {
    content: close-quote;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}